body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
}

.navbar {
  background-color: #ece5e5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  border: 1px solid black;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 15px;
  border: 2px solid #b6b3b3;
  border-radius: 30px;
  padding: 10px 50px;
  background-color: transparent;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 20px;
  transition: all 0.3s ease;
  font-weight: bold;
}

.nav-links a:hover {
  background-color: black;
  color: white;
  transform: scale(1.05);
}

.nav-links span {
  color: #000;
}

.signup-btn {
  background: none;
  border: none;
  padding: 8px 20px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
}

.signup-btn:hover {
  background-color: black;
  color: white;
}

.login-container {
  text-align: center;
  margin-top: 80px;
}
.login-container h1 {
  font-size: 36px;
  margin-bottom: 40px;
}
form {
  display: inline-block;
  text-align: left;
  max-width: 400px;
  width: 100%;
}
label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  margin-bottom: 15px;
  border-radius: 25px;
  border: 1px solid #ccc;
  outline: none;
}
.options {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
.forgot {
  font-size: 14px;
  color: #8c8cf7;
  text-decoration: none;
}
.login-btn {
  background-color: black;
  color: white;
  width: 100%;
  padding: 15px;
  font-size: 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.login-btn:hover {
  background-color: #ffffff;
  color: #000;
  border: 2px solid black;
  transform: scale(1.05);
}
.create-account {
  display: block;
  margin-top: 20px;
  font-size: 14px;
  color: #8c8cf7;
  text-decoration: none;
}

footer {
  background-color: #ece5e5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 20px;
}

footer .contact span {
  margin-left: 15px;
}

.contact, span {
  padding-left: 10px;
}

.contact span:last-child {
  position: relative;
  right: 30px;
}
