.dashboard-container {
  font-family: 'Segoe UI', sans-serif;
  background: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.dashboard-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f5eaea;
  padding: 10px 20px;
}

.logo img {
  height: 60px;
}

.user-controls {
  display: flex;
  align-items: center;
  gap: 15px;
}

.username {
  font-weight: bold;
}

.logout-btn {
  background: black;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 15px;
  cursor: pointer;
}

.dashboard-body {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 200px;
  background: #f0f0f0;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 20px;
  font-weight: bold;
}

.sidebar a {
  text-decoration: none;
  color: black;
}

.sidebar a:hover {
  color: #007bff;
}

.main-content {
  flex: 1;
  padding: 30px;
  text-align: center;
}

.banner-img {
  max-width: 450px;
  position: relative;
  left: 350px;
  height: auto;
}

.title {
  font-size: 48px;
  font-weight: bold;
  margin-top: 20px;
  color: #333;
}

.dashboard-footer {
  text-align: center;
  padding: 10px;
  background: #f5eaea;
}
.ChillBillingLogo
{
    position: relative;
    left: 60px;
}